<div class="sidebar-module">
    <h1>Orari Apertura</h1>
    <p>
        <b>Luned&igrave; - Venerd&igrave;:</b><br />
        8.30 - 12.30 <br />
        15.00 - 19.00<br />
        <br />
        <b>Sabato e Domenica:</b> <br />
        chiuso
    </p>
</div>

<div class="sidebar-module">
    <h1>Menu principale</h1>
    <ul>
        <li><a href="/" title="Torna alla home page">Home page</a></li>
        <li><a href="/tappeti.html" title="Visita la nostra sezione dedicata ai tappeti">Tappeti/Tende</a></li>
    </ul>
</div>

<div class="sidebar-module">
    <h1>&nbsp;</h1>
    <p class="centered"><a href="http://www.centopercentoverde.org" target="_blank"><img src="images/energia_verde.jpg" width="100%"/></a></p>
</div>

<div class="sidebar-module">
    <h1>Contattaci</h1>
    <p class="centered"><a href="mailto:info@tintoriasancristoforo.com">Contatta la<br>Tintoria San Cristoforo<br><br><img src="images/contattaci.gif"/></a></p>
</div>
