<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/jquery-2.1.4.min.js"></script>
    <script src="/js/bootstrap-3.3.5.min.js"></script>
    <link href="/css/bootstrap-3.3.5.min.css" rel="stylesheet">
    <link href="/css/theme.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div id="header" class="blog-header">
            {% include header.html %}
        </div>
        <div class="row">
            <div class="col-md-3 sidebar">
                {% include sidebar_sx.html %}
            </div>
            <div class="col-md-6">
                {{ content }}
            </div>
            <div class="col-md-3 sidebar">
                {% include sidebar_dx.html %}
            </div>
        </div>
        <div id="footer" class="blog-footer">
            {% include footer.html %}
        </div>
    </div>
    {% include analytics.html %}
</body>
</html>
